# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Base de datos
*.db
*.sqlite
*.sqlite3

# Pytest
.pytest_cache/
.cache/
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover


*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Selenium
geckodriver.log
chromedriver.log

# Environment
.env
.env.local